<head>
    <meta charset="utf-8">
	<title>Farm to Fridge</title>
    <h1>{{pageTitle}}</h1>
    <a href= "/">Home </a><a>//</a>
    <a href= "/api/farms">Farms</a><a>//</a>
    <a href= "/locations">Locations</a><a>//</a>
    <a href= "/reviews">Locations</a><a>//</a>

</head>